ENVIRONMENT=UAT
MODE=UAT
PORT=3000
BIND_HOST=0.0.0.0
MERCHANT_ID=863990030700270
CARDZONE_MKREQ_URL=https://uatczsecure.bob.bt/3dss/mkReq
CARDZONE_MERC_REQ_URL=https://uatczsecure.bob.bt/3dss/mercReq
CARDZONE_INQUIRY_URL=https://uatczsecure.bob.bt/3dss/mercReq
MERCHANT_PRIVATE_KEY_PEM_PATH=./data/keys/merchant_private.pem
DATA_DIR=
ENABLE_MKREQ_MAC=false
MPI_MAC_INCLUDE_RESPONSE_TYPE=false
MPI_MAC_PURCHASE_DATE_TIMEZONE=ASIA_THIMPHU
CALLBACK_BASE_URL=http://localhost:3000
RETURN_BASE_URL=http://localhost:3000
USE_CARDZONE_PROXY=true
# For Vercel/serverless set USE_CARDZONE_PROXY=false unless your proxy is publicly reachable.
CARDZONE_PROXY_HOST=192.168.15.201
CARDZONE_PROXY_PORT=3128
HTTP_PROXY=
HTTPS_PROXY=
